div{
    
    align-items: center;
    text-align: center;
}
.table-div{
    position: relative;
    
}

.form-popup{
    top : 25%;
    right : 25%;
    left: 25%;
    bottom: 25%;
    display: none;
    position: fixed ;
    z-index : 1000;
    background-color: white;
}

form{
    display: flex;
    text-align: center;
    flex-direction: column;
    border:none ;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) ;
    padding-top: 10px;
    padding-bottom: 10px;
  
}

.flag {
    margin: 0;
}

.flag-options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}


#yes, #no{
    width: 10px;
    box-shadow: 0 0 0 rgb(0 0 0 / 0.2) ;
    outline: none ;
    display: inline-block;
}

#yes-label, #no-label{
    font-size: 12px;
    display: inline-block;
    margin-left: 25% ;
    margin-right: 10px ;
}

span{
    color: red;
    font-size: 10px;
    display: none; 
}

.Enter{
    width: 25%;
    margin-left: 38%;
    margin-top: 20px;
}


label{
    margin-bottom: 5px ;
}

input, input:focus{
    width: 40%;
    margin-left: 30%;
    font-size: 10px;
    text-align: center;
    border-radius: 6px;
    border:none ;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) ;
    outline: none ; /*This is done to remove border when filling values in box*/ 
}

.open-button{
    margin-bottom: 20px;
}
button{
    padding: 10px;
}

table{
    width: 100%;
    border: solid;
    border-width: 1px;
    text-align: center;
}
td, th{
    border: solid;
    border-width: 1px;
}
